#right1,#right2,#layout{
    display: flex;
}
body{
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#layout{
    width: 75%;
    margin: auto;
}
#left>div{
   border-radius: 7px;

}
#right>div{
    border: 1px solid rgb(165, 163, 163);
    border-radius: 9px;
    margin: 10px 20px;
}
#right1>div,#right2>div{
padding-left: 25px;

}
#right img{
    border-radius: 9px;
    
}
p{
    color: rgb(100, 99, 99);
}
#left{
    border: 1px solid rgb(197, 192, 192);
    border-radius: 9px;
    margin: 30px;
}
#big1{  
    border-radius: 12px;
   flex: 8;
   margin-left: 150px;
   zoom: 1.4;
}
#big{
    display: flex;  
    margin-top: 80px;  
}
#big2{
    margin-left: 25px;
    margin-right: 50px;
    flex: 2;
}
#searchwidth{
    width: 75%;
    margin: auto;
}
#oneway{
    margin-bottom: 30px;
}
#oneway span{
   margin: 40px;  
}
#oneway #one{
    background-color: rgb(220, 220, 250);
    color: rgb(104, 104, 241);
    padding: 10px 8px;
    border-radius: 5px;
}
#search_sec>input{
padding: 15px 180px 15px 3px;
border-radius: 10px;
border: 1px solid gray;
margin: 6px;
}
button{
    margin: 12px;
    background-color: rgb(68, 68, 232);
    color: rgb(255, 255, 255);
    padding: 13px 65px;
    border-radius: 5px;
border: none;
font-size: 20px;
}
#bottom-section-2{
    width: 80%;
    height: 320px;
    display: flex;
    margin: auto;
    margin-top: 30px;
    border:0.5px solid rgb(173, 171, 171);
    border-radius: 10px;
    margin-bottom: 30px;
 }
 #bottom-section-2>div>h2{
    margin-left: 20px;
 }
 #para{
    margin-left: 20px;
    color: grey;
    font-size: 13px;
 }
 #head-1{
   width: 95%;
   height: 130px;
   border: 0px solid;
   margin-left: 20px;
 }
 #head-1>h1{
    color:  #141D38;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
 }
 #head-1>p{
    color: black;
    margin-top: -14px;
    line-height: 1.2rem;
    font-size: 16px;
    font-weight: 300;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
 }
 #para{
    color: black;
    font-size: 13px;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
 }
 #head-2{
    margin-top: -10px;
 }
 #bottom-section-2>div{
    width: 60%;
    background-color: white;
    border: 0px solid blue;
 }
 #bottom-section-2>div>img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
 }
 #bottom-section-2>div:nth-child(1){
    width: 30%;
 }
 #bottom-section-2>div:nth-child(2){
    padding-bottom: 20px;
 }
  #bottom-section-2>div:nth-child(2)>div>ul{
    width: 90%;
    line-height: 30px;
    color: gray;
    border: 0px solid black;
  }
  .country-code{
    width: 180px;
    height: 45px;
    margin: auto;
    margin-left: 14px;
    border-radius: 5px;
    border:0.5px solid rgb(173, 171, 171);
  }
  #bottom-section-2>div:nth-child(2)>div>button{
    background-color: #1d67c1;
    color: white;
    font-size: 15px;
    border: none;
  }
  #bottom-section-2>div:nth-child(2)>div>button:hover{
    background-color: #387ed3;
  }
  #bottom-section-2>div:nth-child(3)>img{
    width: 70%;
    height: 60%;
    margin-left: 35px;
    margin-top: 20px;
  }
  #bottom-section-2>div:nth-child(3){
    width: 25%;
  }
  #bottom-section-2>div:nth-child(3)>p{
    text-align: center;
    font-weight:bold;
    margin-top: 0px;
  }
