#right1,#right2,#layout{
    display: flex;
}
body{
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#layout{
    width: 75%;
    margin: auto;
}
#left>div{
   border-radius: 7px;

}
#right>div{
    border: 1px solid rgb(165, 163, 163);
    border-radius: 9px;
    margin: 10px 20px;
}
#right1>div,#right2>div{
padding-left: 25px;

}
#right img{
    border-radius: 9px;
    
}
p{
    color: rgb(100, 99, 99);
}
#left{
    border: 1px solid rgb(197, 192, 192);
    border-radius: 9px;
    margin: 30px;
}
#big1{  
    border-radius: 12px;
   flex: 8;
   margin-left: 150px;
   zoom: 1.4;
}
#big{
    display: flex;  
    margin-top: 80px;  
}
#big2{
    margin-left: 25px;
    margin-right: 50px;
    flex: 2;
}
#searchwidth{
    width: 75%;
    margin: auto;
}
#oneway{
    margin-bottom: 30px;
}
#oneway span{
   margin: 40px;  
}
#oneway #one{
    background-color: rgb(220, 220, 250);
    color: rgb(104, 104, 241);
    padding: 10px 8px;
    border-radius: 5px;
}
#search_sec>input{
padding: 15px 180px 15px 3px;
border-radius: 10px;
border: 1px solid gray;
margin: 6px;
}
button{
    margin: 12px;
    background-color: rgb(68, 68, 232);
    color: rgb(255, 255, 255);
    padding: 13px 65px;
    border-radius: 5px;
border: none;
font-size: 20px;
}
